@page "/"
@inject ReadChatGptApi service



<PageTitle>Index</PageTitle>

<h1>Hey</h1>


<div class="form-control">
    <input class="form-control w-100" @bind="prompt">
    <button class="btn btn-primary mt-1" @onclick="@(()=>{ GetText(prompt);})">i'm feeling lucky!</button>
</div>


<div class="form-control">
   <textarea class="bg-light form-control mt-2 w-100" style="
    min-height: 1000px;
"></textarea>
</div>


@code {
    private string prompt { set; get; }
    private string response { set; get; }
    private void GetText(string prompt) => service.GetResult(prompt);
}
