@page "/"

<PageTitle>Index</PageTitle>

<h1>Hey</h1>


<div class="form-control">

    <input class="form-control w-100">
    <button class="btn btn-primary">i'm feeling lucky!</button>
</div>


<div class="form-control">
    <textarea class="bg-light form-control mt-2 w-100"></textarea>
</div>
